<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
	<head>
		<meta charset="{{site.charset}}" />
		<title>
			{% if wp_title %}
				{{ wp_title }}
			{% else %}
				{{ site.name }}
			{% endif %}
		</title>
		<meta name="description" content="{{site.description}}">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="pingback" href="{{site.pingback_url}}" />
		<meta name="theme-color" content="#ffffff">
		{{function('wp_head')}}
		{# CUSTOM STYLESHEETS #}
		{% block stylesheets %}
            <link rel="stylesheet" href="{{ theme.path }}/src/tools/fontawesome/css/all.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css" />
            <link rel="stylesheet" href="{{ theme.path }}/style.css" type="text/css" media="screen" />
		{% endblock %}
	</head>

<body class="{{body_class}}" data-template="base.twig">
	{#
   |
   | Import macros
   |----------------
   #}
	{% import '_macros/global.twig' as global %}


	{% block header %}
			<header class="container">
				{% include 'parts/header.twig' %}
			</header>
		{% endblock %}

		<main id="content" class="content-wrapper">
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</main>

		{% block footer %}
			<footer>
				{% include '/parts/footer.twig'%}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
		{# CUSTOM JAVASCRIPTS #}
		{% block javascripts %}
			<script src="{{ theme.path }}/src/tools/jquery/jquery.min.js"></script>
			<script src="{{ theme.path }}/src/tools/gsap/TweenMax.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
			<script src="{{ theme.path }}/dist/js/main.min.js"></script>
		{% endblock %}

	</body>
</html>
